<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<style>
    table, tr, td{
        border: 1px solid black
    }
</style>


Lịch sử bật/tắt đèn:
<table>
    <tr>
        <td>Time</td>
        <td>Action</td>
    </tr>
{% for row in data %}
<tr>
    <td>{{row[0]}} </td>
    {% if row[1] == 0 %}
    <td>Đèn tắt</td>
    {% elif row[1] == 1 %}
    <td>Đèn đỏ</td>
    {% elif row[1] == 2 %}
    <td>Đèn xanh</td>
    {% endif %}
</tr>
{% endfor %}
</table>
<script>
    function myFunction(){
        var dt = new Date();
        document.getElementsByClassName("date_time").innerHTML=dt;
        alert("Hello world")
    }
    </script>
</body>
</html>