USE [master]
GO
/****** Object:  Database [ADADB]    Script Date: 12/2/2021 11:47:48 PM ******/
CREATE DATABASE [ADADB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ADADB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ADADB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ADADB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ADADB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADADB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADADB]
GO
/****** Object:  Table [dbo].[FanHistory]    Script Date: 12/2/2021 11:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FanHistory](
	[TimeCreated] [datetime] NULL,
	[FeedData] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LightHistory]    Script Date: 12/2/2021 11:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LightHistory](
	[TimeCreated] [datetime] NULL,
	[FeedData] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 12/2/2021 11:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[tk] [varchar](255) NULL,
	[mk] [int] NULL,
	[Room] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FanHistory] ADD  CONSTRAINT [DF_FanHistory_TimeCreated]  DEFAULT (getdate()) FOR [TimeCreated]
GO
ALTER TABLE [dbo].[LightHistory] ADD  CONSTRAINT [DF_LightHistory_TimeCreated]  DEFAULT (getdate()) FOR [TimeCreated]
GO
USE [master]
GO
